//---------------------------------------
// color
//---------------------------------------

.color-logo-row {
  margin-left: 0;
  margin-right: 0;
}

.color-logo-carousel {
  background: $carbon--blue-60;
}

.color-logo {
  background: $carbon--blue-80;
}

//---------------------------------------
// Color UI
//---------------------------------------
