// grid classnames (should be added to either grid package or theme?)
.#{$prefix}--no-gutter-lg {
  @include carbon--breakpoint('lg') {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$prefix}--no-gutter-md {
  @include carbon--breakpoint('md') {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$prefix}--no-gutter-sm {
  padding-left: 0;
  padding-right: 0;
}

.#{$prefix}--no-gutter-lg--left {
  @include carbon--breakpoint('lg') {
    padding-left: 0;
  }
}

.#{$prefix}--no-gutter-md--left {
  @include carbon--breakpoint('md') {
    padding-left: 0;
  }
}

.#{$prefix}--no-gutter-sm--left {
  padding-left: 0;
}

// images
.bx--row img {
  width: 100%;
}

.bx--row--images {
  @include carbon--breakpoint-down('md') {
    padding-right: 0px;
  }
}

//---------------------------------------
// Overrides
//---------------------------------------

// Principles/Layout page
.principles-section .#{$prefix}--col-md-2,
.example-section .#{$prefix}--col-md-2 {
  margin-bottom: 1.5rem;
  @include carbon--breakpoint('md') {
    margin-bottom: 0;
  }
}

// gallery clusters
.mock-gallery {
  @include carbon--breakpoint-down('md') {
    --space: 0;
  }
}

.mock-gallery [class*='#{$prefix}--col'] {
  @include carbon--breakpoint-down('md') {
    margin-top: 1.5rem;
  }
}
