.homepage-tiles--end {
  margin-bottom: 10rem;
  margin-top: 0.0625rem;
}

.homepage-row {
  margin-top: 5rem;
  --space: 0;
}

.Main-module--main--24PSV {
  padding-bottom: 10rem;
}

.#{$prefix}--homepage-idl-tile-nested-content
  .#{$prefix}--carousel.fade
  .#{$prefix}--carousel-slide-wrapper {
  height: 100%;
  position: absolute;
  padding-bottom: 0;

  .#{$prefix}--carousel-slide img {
    height: 100%;
    object-fit: cover;
    transition: transform 700ms cubic-bezier(0.5, 0, 0.1, 1);
  }
}

// Custom Homepage Resource Card Styles
:global(.resource-card-group.homepage-cards) {
  div[class*='--column'] {
    margin-right: 0 !important;
  }

  .bx--resource-card--dark {
    border-top-color: transparent !important;
    border-top-width: 0;
  }

  .bx--col-lg-4:nth-child(2n) .bx--resource-card--dark {
    border-left-color: transparent !important;
  }

  .bx--col-lg-4:nth-child(n + 4) .bx--resource-card--dark {
    border-top-width: 1px !important;
  }

  @include carbon--breakpoint-down('lg') {
    .bx--col-lg-4:nth-child(n + 3) .bx--resource-card--dark {
      border-top-width: 1px !important;
    }
  }

  @include carbon--breakpoint-down('lg') {
    .bx--col-lg-4:nth-child(n + 1) .bx--resource-card--dark {
      border-top-width: 1px !important;
    }
  }
}
