.homepage-tiles--end {
  margin-bottom: 10rem;
  margin-top: 0.0625rem;
}

.homepage-row {
  margin-top: 5rem;
  --space: 0;
}

.Main-module--main--24PSV {
  padding-bottom: 10rem;
}

.#{$prefix}--homepage-idl-tile-nested-content
  .#{$prefix}--carousel.fade
  .#{$prefix}--carousel-slide-wrapper {
  height: 100%;
  position: absolute;
  padding-bottom: 0;

  .#{$prefix}--carousel-slide img {
    height: 100%;
    object-fit: cover;
    transition: transform 700ms cubic-bezier(0.5, 0, 0.1, 1);
  }
}

// Custom Homepage Resource Card Styles
.resource-card-group.homepage-cards {
  div[class*='--col'] {
    margin-right: 0 !important;
  }

  @include carbon--breakpoint-up('lg') {
    .bx--col-lg-4:nth-child(3) .bx--resource-card {
      border-top: 0;
      border-left: 1px solid var(--cds-ui-03, #e0e0e0);
    }

    .left-border .bx--resource-card {
      border-left: 1px solid var(--cds-ui-03, #e0e0e0);
    }

    .no-left-border .bx--resource-card {
      border-left-color: transparent !important;
    }
  }
}
