.homepage-tiles--end {
  margin-bottom: 10rem;
}

.#{$prefix}--homepage-idl-tile-nested-content
  .#{$prefix}--carousel.fade
  .#{$prefix}--carousel-slide-wrapper {
  height: 100%;
  position: absolute;
  padding-bottom: 0;

  .#{$prefix}--carousel-slide img {
    height: 100%;
    object-fit: cover;
    transition: transform 700ms cubic-bezier(0.5, 0, 0.1, 1);
  }
}
