.truste_cookie_prefs a {
  font-family: 'IBM Plex Sans VF', 'Helvetica Neue', Arial, sans-serif !important;
  color: $text-01 !important;
}

.truste_cookie_prefs {
  margin-right: $spacing-05 !important;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2) !important;
}
