.page-table {
  thead th {
    background: #f4f4f4;
    border-bottom: 1px solid #e0e0e0;
    line-height: 1;
  }
  tbody tr td {
    line-height: 1;
  }
}

.Tabs-module--panel--MVMfU {
  p {
    width: 100%;
  }
}
