img {
  max-width: 100%; //needed for svg/gif images
}

.image-grid [class*='column'] {
  &:nth-child(-n + 3) {
    margin-bottom: 2rem;
  }
  @include carbon--breakpoint-down('lg') {
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// targets svg files
img[src$='svg'] {
  width: 100%; // svgs can scale, so we're cool with stretching them
}

// images
.bx--row img {
  width: 100%;
  display: block;
}

.gallery-row-padding {
  margin-top: 0;
  @include carbon--breakpoint('md') {
    margin-top: 2rem;
  }
}

.gallery-row-padding div {
  margin-top: 1.5rem;
  @include carbon--breakpoint('md') {
    margin-top: 0;
  }
}

div[aria-label='animation'] {
  // needed for lottie animation files
  line-height: 0;
}

// Custom class provided to the GifPlayer component which allows for videos
.video-player video {
  width: 100%;
  display: block;
}

.video-player div[role='button'] {
  //removes video button
  display: none;
}

.video-player > div:first-of-type > div:first-of-type {
  // fixes video jumping inside gif players
  display: flex;
  align-items: flex-start;
}

.video-player.video-player__gray svg {
  fill: $carbon--gray-50;
}

// gallery clusters
.mock-gallery {
  --space: 2rem;
}

.mock-gallery [class*='#{$prefix}--col'] {
  --space: 2rem;
  &:last-of-type {
    --space: 0;
  }
}

.mock-gallery ~ span,
.mock-gallery ~ [class*='video'] {
  --space: 2rem;
}
