//---------------------------------------
// Layout page
//---------------------------------------

.example-section {
  padding-top: $layout-06;
}

.example-section:before {
  content: '';
  display: block;
  background: $ui-04;
  height: 1px;
  width: calc(100% - 2rem);
  margin: -$spacing-07 0 0 $spacing-05;
}

.example-section h3 {
  margin-top: 0;
}

.example-aside {
  margin-top: $spacing-04;
}

.example-aside:before {
  height: 1px;
  width: $spacing-07;
  margin: 0 0 $spacing-05 $spacing-05;
}

.bx--aspect-ratio--image {
  background: $carbon--white-0;
}

.bx--aspect-ratio--image .gatsby-resp-image-wrapper {
  margin: 1rem !important;
}
