.narrativeTable,
.narrativeTableLast {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  min-height: 200px;
  @include carbon--breakpoint('lg') {
    display: flex;
  }

  .bx--row {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
  }

  [class^='AutolinkHeader-module--anchor'] {
    display: none;
  }

  h3 {
    margin-top: 0;
  }

  // temporary fix for paragraph length
  .bx--col-lg-8 p {
    margin-top: var(--space);
    @include carbon--breakpoint('md') {
      padding-right: 2rem;
    }
    @include carbon--breakpoint('lg') {
      margin-top: 0;
    }
  }
}

.narrativeTableLast {
  border-bottom: 0;
}
