//---------------------------------------
// POV page
//---------------------------------------
.bx--row .bx--paragraph {
  padding-right: 0;
}

.bx--type-expressive-heading-03 p {
  @include carbon--type-style('expressive-heading-03', true);
}

.hide-mobile {
  display: none;

  @include carbon--breakpoint('md') {
    display: block;
  }
}

.post-video-row {
  margin-top: 5rem;
}
