.aside-button-container p {
  font-size: 13px;
  line-height: 1.125rem ;
}

.aside-button-container button{
  margin-top: 2px;
  position: relative;
  width: 100%;
}


.aside-button-container button:nth-of-type(1) {
  margin-top: 1rem;
}

.axesntricks-images{
  margin-top: -60px;
}

.chart-page .homepage--no-gutter .bx--image-card__title {
  font-size: 13px;
}

