//---------------------------------------
// Carbon core
//---------------------------------------

// colors, spacing, theme-tokens, functions, motion
@import "~carbon-components/scss/globals/scss/vars";

// mixins
@import "~@carbon/elements/scss/layout/breakpoint";
@import "~@carbon/elements/scss/type/styles";

// grid classnames (should be added to either grid package or theme?)
.#{$prefix}--no-gutter-lg {
  @include carbon--breakpoint("lg") {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$prefix}--no-gutter-md {
  @include carbon--breakpoint("md") {
    padding-left: 0;
    padding-right: 0;
  }
}

.#{$prefix}--no-gutter-sm {
  padding-left: 0;
  padding-right: 0;
}

.#{$prefix}--no-gutter-lg--left {
  @include carbon--breakpoint("lg") {
    padding-left: 0;
  }
}

.#{$prefix}--no-gutter-md--left {
  @include carbon--breakpoint("md") {
    padding-left: 0;
  }
}

.#{$prefix}--no-gutter-sm--left {
  padding-left: 0;
}

//---------------------------------------
// IDL page
//---------------------------------------
@import "images";

//---------------------------------------
// IDL components
//---------------------------------------
@import "../components/TypeFaceSubFamilies/typeface-sub-families";
@import "../components/InputRange/input-range";
@import "../components/TypeTester/type-tester";
@import "../components/NonLatinScripts/non-latin-script";
@import "../components/PlayPauseButton/play-pause-button";
@import "../components/VideoInternal/video-internal";
@import "../components/HomepageVideo/homepage-video";
@import "../components/HomepageTile/homepage-tile";
@import "../components/Carousel/carousel";
