// Application bundle

// colors, spacing, theme-tokens, functions, motion
@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';
@import '~carbon-components/scss/globals/scss/layout';

// mixins
@import '~@carbon/elements/scss/layout/breakpoint';
@import '~@carbon/elements/scss/type/styles';

//---------------------------------------
// IDL page
//---------------------------------------
@import 'images';
@import 'homepage';
@import 'typography';
@import 'color';
@import 'philosophy';
@import 'icons';
@import 'footer';
@import 'layout';
// IBM inserted cookie prefs
@import 'ibm-cookies';

// grid temp - should be added to grid package or theme
@import 'grid-temp';

//---------------------------------------
// IDL components
//---------------------------------------
@import '../components/TypeFaceSubFamilies/typeface-sub-families';
@import '../components/TypeTester/type-tester';
@import '../components/NonLatinScripts/non-latin-script';
@import '../components/PlayPauseButton/play-pause-button';
@import '../components/VideoInternal/video-internal';
@import '../components/HomepageVideo/homepage-video';
@import '../components/HomepageTile/homepage-tile';
@import '../components/Carousel/carousel';
@import '../components/SwatchPaletteWidget/swatch-palette-widget';
@import '../components/MotionChecklist/motion-checklist';
@import '../components/TypesetExample/typeset-example';
@import '../components/TypesetStyle/typeset-style';

//---------------------------------------
// IDL/Carbon shared components
//  WHERE WILL THESE LIVE?
//---------------------------------------
@import '../components/ColorBlock/color-block';
@import '../components/ColorGrid/color-grid';

//temporary type fix
body {
    font-family: "IBM Plex Sans VF", "Helvetica Neue", Arial, sans-serif;
  }
  
  .show-on-small {
    display: block;
    @include carbon--breakpoint('md') {
      display: none;
    }
  }
  
  .hide-on-small {
    display: none;
    @include carbon--breakpoint('md') {
      display: block;
    }
  }
  
  .hide-on-medium {
    display: none;
    @include carbon--breakpoint('lg') {
      display: block;
    }
  }
  
  .show-on-medium {
    display: block;
    @include carbon--breakpoint('lg') {
      display: none;
    }
  }
  
  .noMarginBottom,
  .noMarginBottom p {
    margin-bottom: 0;
  }
  
  .noMarginTop {
    margin-top: 0;
  }
  
  .nowrap {
    white-space: nowrap;
  }
  
  .bx--list--nested, .bx--list--unordered, .bx--list--ordered {
    padding-left: 1rem;
    margin-top: var(--space);
  
    li {
      padding-left: 8px !important;
      margin-bottom: 0;
    }
  }