// Application bundle

// colors, spacing, theme-tokens, functions, motion
@import '~carbon-components/scss/globals/scss/vars';
@import '~carbon-components/scss/globals/scss/typography';
@import '~carbon-components/scss/globals/scss/layout';

// mixins
@import '~@carbon/elements/scss/layout/breakpoint';
@import '~@carbon/elements/scss/type/styles';

//---------------------------------------
// IDL page
//---------------------------------------
@import 'images';
@import 'homepage';
@import 'typography';
@import 'color';
@import 'philosophy';
@import 'icons';
@import 'footer';

// grid temp - should be added to grid package or theme
@import 'grid-temp';

// Temporary fix for ordered lists with up to 99 numbers
// https://github.com/carbon-design-system/carbon/issues/3133
ol .bx--list__item {
  padding-left: $spacing-05; //adds .5rem extra padding
  margin-left: -$spacing-03; //moves list to the left .5rem so text alignment stays the same
}

//---------------------------------------
// IDL components
//---------------------------------------
@import '../components/TypeFaceSubFamilies/typeface-sub-families';
@import '../components/TypeTester/type-tester';
@import '../components/NonLatinScripts/non-latin-script';
@import '../components/PlayPauseButton/play-pause-button';
@import '../components/VideoInternal/video-internal';
@import '../components/HomepageVideo/homepage-video';
@import '../components/HomepageTile/homepage-tile';
@import '../components/Carousel/carousel';
@import '../components/SwatchPaletteWidget/swatch-palette-widget';
@import '../components/MotionChecklist/motion-checklist';
@import '../components/TypesetExample/typeset-example';
@import '../components/TypesetStyle/typeset-style';

//---------------------------------------
// IDL/Carbon shared components
//  WHERE WILL THESE LIVE?
//---------------------------------------
@import '../components/ColorBlock/color-block';
@import '../components/ColorGrid/color-grid';
