.mdx-icon {
  width: 32px !important;
  height: 32px !important;
  object-fit: contain;
  position: relative;
  display: inline-block;
  user-select: none;
  vertical-align: text-bottom;
}

.icon-inverse {
  fill: $inverse-01;
}
