.wrapper {
  position: absolute;
  background: transparent;
  width: 100%;
  top: 0;
  right: 0;
  z-index: z('floating');
}

.expanded {
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15));
}

.menu-button {
  display: block;
  cursor: pointer;
  outline: none;
  background: $ui-background;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
  // background: transparent;
  // padding: 1rem;
}

.menu-button.expanded {
  // z-index: z('floating');
  // box-shadow: 6px 0px 4px rgba(0, 0, 0, 0.08);
}

.menu-button-list {
  position: relative;
  width: 100%;
  right: 0;
  top: 40px;
}

.menu-button-list li {
  @include carbon--type-style('body-short-01');
  height: 40px;
  background-color: $ui-background;
  padding: 0 1rem;
  width: 100%;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.menu-button-list li:hover {
  background-color: $hover-ui;
}
