name: Deploy website to S3
on:
  push:
    branches:
      - master

concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    if: github.repository == 'carbon-design-system/design-language-website'
    runs-on: ubuntu-latest
    steps:
      - uses: fkirc/skip-duplicate-actions@v1.4.0
        with:
          github_token: ${{ github.token }}
      - uses: actions/checkout@v2
      - name: Use Node.js 18.x
        uses: actions/setup-node@v2-beta
        with:
          node-version: 18.x

      - name: Install packages
        run: yarn install --frozen-lockfile --network-timeout 300000

      - name: Build site
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
        run: yarn build:prefix

      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.COS_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.COS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.COS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.COS_REGION }}
          AWS_S3_ENDPOINT: https://${{ secrets.COS_ENDPOINT }}
          SOURCE_DIR: 'public/design/language'
          DEST_DIR: 'design/language'
