name: Optimize SVGs
on:
  pull_request:
    paths:
    - "**.svg"

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14'
    - run: yarn install
    - uses: ericcornelissen/svgo-action@v1.3.3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        svgo-options: "./svgo.config.js"
        comment: true
        svgo-version: 2
